* {
    margin: 0;
}

@font-face {
    font-family: 'Norse-Bold';
    src: url('/Norse-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.container {
    display: flex;
}

.left {
    background-image: url(https://images.unsplash.com/photo-1626908013351-800ddd734b8a?q=80&w=1586&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    width: 35vw;
    height: 100vh;
    background-size: 100vh;
}

.banner {
    text-align: center;
    font-family: 'Norse-Bold', sans-serif;
    font-size: 18vh;
    margin-top: 20vh;
    height: 20vh;
    background-color: rgb(0, 195, 243, 0.5);
    color: white;
}

.banner>img {
    margin-top: 1vh;
    height: 18vh;
}

label {
    display: block;
}